@model DigitalArtistDatabase.Models.Artist
@using System.Drawing

@{
    ViewBag.Title = "Artist";
}

<h2>Artist Profile</h2><br />
@Html.DisplayFor(m => Model.UserName)

@if (Model.Posts != null)
{
    foreach (var p in Model.Posts)
    {
        <br /><br /><br /><br />

        @Html.DisplayFor(item => p.Title) <span>            </span>
        @Html.DisplayFor(item => p.DatePosted)<span>     </span>
        @Html.DisplayFor(item => p.ViewCount)
        <br />
        @Html.DisplayFor(item => p.Description)
        <br /><br />

        foreach (var i in p.Pictures)
        {
            //@Html.DisplayFor(item => i.ImageURL)
            //<img src="@Url.Content(i.Image)" /><br />
            <img src="data:image;base64,@System.Convert.ToBase64String(i.Image)" />
        }


        <br /><br /><span>Comments</span><br /><br />

        foreach (var c in p.Comments)
        {
            @Html.DisplayFor(item => c.Text)<span>  </span>
            @Html.DisplayFor(item => c.DatePosted)
            <br /><br />
        }
    }
}