@model DigitalArtistDatabase.Models.Artist

@{
    ViewBag.Title = "Artist";
}

<h2>@String.Format("{0}'s Profile", Model.UserName)</h2><br />
<img src="data:image;base64,@System.Convert.ToBase64String(Model.Thumbnail.Image)" />

@if (Model.Posts != null)
{
    foreach (var p in Model.Posts)
    {
        <br /><br /><br /><br />

        @Html.DisplayFor(item => p.Title) <span>            </span>
        @Html.DisplayFor(item => p.DatePosted)<span>     </span>
        @Html.DisplayFor(item => p.ViewCount)
        <br />
        @Html.DisplayFor(item => p.Description)
        <br /><br />

        foreach (var i in p.Pictures)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(i.Image)" />
        }

        <br /><br /><span>Comments</span><br /><br />

        foreach (var c in p.Comments)
        {
            @Html.DisplayFor(item => c.DatePosted)<span>  </span>
            @Html.DisplayFor(item => c.Artist.UserName)<span>               </span>
            @Html.DisplayFor(item => c.Text)
            <br /><br />
        }

        /* nah... for now simply have a button set up to create a comment the hard way
        using (Html.BeginForm("CreateComment", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="comment" placeholder="Comment on this post"/>
            <input type="submit" value="Submit Comment" class="btn btn-default" />
        }
        */

        //temporary until a real comment system is added (the above may be a good place to start)
        <p>
            @Html.ActionLink("Add Comment", "Create", "Comment")
        </p>
    }
}