@model DigitalArtistDatabase.Models.Artist

@{
    ViewBag.Title = "Artist";
}

@{
    string name = Model.UserName + "'s";
    var uID = Session["LoggedInUserID"];
    if (uID != null)
    {
        if(Model.ID == (int)uID)
        {
            name = "Your";
        }
    }
}

<h2>@String.Format("{0} Profile", name)</h2><br />
<img src="data:image;base64,@System.Convert.ToBase64String(Model.Thumbnail.Image)" />

@if (Model.Posts != null)
{
    foreach (var p in Model.Posts)
    {
        <br /><br /><br /><br />

        @Html.DisplayFor(item => p.Title)
        @Html.DisplayFor(item => p.DatePosted)
        @Html.DisplayFor(item => p.ViewCount)
        <br />
        @Html.DisplayFor(item => p.Description)
        <br /><br />

        foreach (var i in p.Pictures)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(i.Image)" />
        }

        <br /><br /><span>Comments</span><br /><br />

        foreach (var c in p.Comments)
        {
            @Html.DisplayFor(item => c.DatePosted)<br />
            @Html.DisplayFor(item => c.Artist.UserName)<span> said: </span>
            @Html.DisplayFor(item => c.Text)
            <br /><br />
        }
        
        using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("post", p.ID)
            @Html.Hidden("destinationartist", Model.ID)
            <input type="text" name="Comment" placeholder="Comment on this post"/>
            <input type="submit" value="Submit Comment" class="btn btn-default" />
        }

        /*
        //temporary until a real comment system is added (the above may be a good place to start)
        <p>
            @Html.ActionLink("Add Comment", "Create", "Comment")
        </p>
         * */
    }
}