@model DigitalArtistDatabase.Models.Artist
@using System.Drawing

@{
    ViewBag.Title = "Artist";
}

<h2>Artist Profile</h2><br/>
@Html.DisplayFor(m => Model.UserName)

@*Oddly, this is needed. Find out why the foreach loop doesn't save the program from null references*@
@if(Model.Posts != null)
{
    foreach (var p in Model.Posts)
    {
        <br /><br /><br /><br />

        @Html.DisplayFor(item => p.Title) <span>            </span>
        @Html.DisplayFor(item => p.DatePosted)<span>     </span>
        @Html.DisplayFor(item => p.ViewCount)
        <br />
        @Html.DisplayFor(item => p.Description)
        <br /><br />

        foreach (var i in p.Pictures)
        {
           //@Html.DisplayFor(item => i.ImageURL)
           <img src="@Url.Content(i.ImageURL)" /><br />
        }

        <br /><br /><span>Comments</span><br /><br />
        
        foreach (var c in p.Comments)
        {
            @Html.DisplayFor(item => c.Text)<span>  </span>
            @Html.DisplayFor(item => c.DatePosted)
            <br /><br />
        }
    }
}